Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Megascans/Surfaces/Steel_Wire_Rope_wjwjfasn/MI_Steel_Wire_Rope_wjwjfasn_2K.uasset
Content/Megascans/Surfaces/Steel_Wire_Rope_wjwjfasn/T_Steel_Wire_Rope_wjwjfasn_2K_D.uasset
Content/Megascans/Surfaces/Steel_Wire_Rope_wjwjfasn/T_Steel_Wire_Rope_wjwjfasn_2K_N.uasset
Content/Megascans/Surfaces/Steel_Wire_Rope_wjwjfasn/T_SteelWireRope_wjwjfasn_2K_ORDp.uasset
